{% extends "operation/base.html" %}
{% load static %}
{% block sb_admin_title %}公司{% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small>公司信息</small>{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<div class="row">
	<div class="input-group">
		<input id="cid-edit" type="text" class="form-control" placeholder="Input company id here...">
		<span class="input-group-btn">
			<button id="cid-btn" class="btn btn-default" type="button">Go!</button>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-recycle fa-fw"></i> 用户</h3>
			</div>
			<div class="panel-body">
				<ul id="user-list" class="list-group">
					<li class="list-group-item"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-recycle fa-fw"></i> 群组</h3>
			</div>
			<div class="panel-body">
				<ul id="group-list" class="list-group">
					<li class="list-group-item"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-recycle fa-fw"></i> 子公司</h3>
			</div>
			<div class="panel-body">
				<ul id="subs-list" class="list-group">
					<li class="list-group-item"></li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="row">
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='dp-start'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
	<div class='col-md-4'>
		<div class="form-group">
			<div class='input-group date' id='dp-end'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="fa fa-calendar"></span>
				</span>
			</div>
		</div>
	</div>
	<button id="refresh" type="button" class="btn btn-default col-md-2">刷新</button>
</div>

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-user-md" aria-hidden="true"></i>  在线统计</h3>
		</div>
		<div class="panel-body">
			<div class="flot-chart">
				<div class="flot-chart-content" id="user-load"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-audio-description"></i>  会话统计</h3>
		</div>
		<div class="panel-body">
			<div class="flot-chart">
				<div class="flot-chart-content" id="speak-load"></div>
			</div>
		</div>
	</div>
</div>
{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}
    <script src="{% static "js/moment-with-locales.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.time.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.axislabels.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "js/echat-api.js" %}"></script>
    <script src="{% static "js/company-detail.js" %}"></script>
{% endblock sb_admin_custom_js %}

