{% extends "operation/base.html" %}
{% load static %}
{% block sb_admin_title %}系统状态{% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small>概要信息</small>{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="server-count" class="huge">0</div>
                        <div>服务器</div>
                    </div>
                </div>
            </div>
            <a href="server/">
                <div class="panel-footer">
                    <span class="pull-left">详细信息</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="user-count" class="huge">0</div>
                        <div>在线用户</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细信息</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="group-count" class="huge">0</div>
                        <div>活跃群组</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细信息</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-building fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="company-count" class="huge">0</div>
                        <div>公司</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细信息</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>系统负载</h3>
			</div>
			<div class="panel-body">
				<h4>待完成...</h4>
				<div class="flot-chart">
					<div class="flot-chart-content" id="system-load"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- /.row -->

<div class="row">

	<div class="col-lg-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-mobile fa-fw"></i> 用户设备</h3>
			</div>
			<div class="panel-body">
				<div class="flot-chart">
					<div class="flot-chart-content" id="device-load"></div>
				</div>
				<div class="text-right">
					<a href="device/">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-male fa-fw"></i> 用户分布</h3>
            </div>
            <div class="panel-body">
				<div class="flot-chart">
					<div class="flot-chart-content" id="server-users"></div>
				</div>
                <div class="text-right">
                    <a href="user/detail/">查看用户 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-street-view fa-fw"></i> 群组分布</h3>
            </div>
            <div class="panel-body">
				<div class="flot-chart">
					<div class="flot-chart-content" id="server-groups"></div>
				</div>
                <div class="text-right">
                    <a href="group/detail/">查看群组 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}
    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="{% static "js/plugins/flot/jquery.flot.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.resize.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.pie.min.js" %}"></script>
    <script src="{% static "js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "js/echat-api.js" %}"></script>
	<script src="{% static "js/runtime.js" %}"></script>
{% endblock sb_admin_custom_js %}
